.genie-header {
  height: 5rem;
   padding: 0.5rem; 
   border-bottom: 2px solid var(--gb-light-gray);
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* position: relative; */
 }
 
 ul.genie-menu {
   list-style: none;
   display: flex;
   align-items: center;
   margin: 0;
   padding: 0;

 }
.genie-menu li {
   display: flex;
   align-items: center;
 } 
 li.genie-logo{
   flex-grow: 6;
 }
 li.genie-icon-bar{
   flex-grow: 1;
   justify-content:start;
 }
 li.genie-icon-search{
   justify-content: flex-end;
   flex-grow: 1;
 }
 li.genie-icon-bell{
  margin-right: 1rem;
   justify-content: flex-end;
   flex-grow: 1;
 }
.genie-icon-bar {
margin-left: 1rem;
 }
.fa-icon-bar,.fa-icon-search{
   font-size: 1.5rem;
}
.genie-fa-icon-bar{
   transform: scale(1.5,1);
}
 .genie-logo {
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .genie-logo-text {
   margin-right: 0.2rem; 
   font-size:1.5rem ;
 }
 

 .genie-logo-img img{
  height:2.5rem; 
   height:2.5rem; 
 }
.genie-genie-icon-bell img {
   width: 1.5rem; 
   height:1.5rem; 
 }
 
 /* RTL support */
 [dir="rtl"] .genie-menu {
   flex-direction: row-reverse;
 }
 
 [dir="rtl"] .genie-logo-text {
   margin-right: 0;
   margin-left: 0.2rem;
 }
 .genie-bell-newChatsCounter{
  width: 0.8rem;
  height: 0.8rem;
  background-color: var( --gb-circle-green);
  border-radius: 50%;
  display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    color: var(--gb-white); 
    position: absolute;
    top:1.5rem;
    /* position: absolute; */
    /* top: 0.5rem; */
    /* right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem; */
    /* border-radius: 50%;
    background-color: var(--gb-red);
    color: var(--gb-white);
    font-size: 0.75rem; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
 }