

.back-button, .send-button, .add-doc-button {
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
}



.chat-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  background: #b6b4f5;
  /* additional styling */
}
.back-button {
  /* Style your back button (chevron) */
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  /* Add additional styling for the icon size, etc. */
}
.input-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 10px; /* Adjust based on your design */
}
.send-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  /* Add additional styling for the icon size, etc. */
}
.chat-textarea {
  width: 100%;
  line-height: 1.5em;
  border-radius: 10px;
  padding: 10px;
  padding-right: 30px; /* Makes room for the clip icon inside the input */
  border: 1px solid #ccc; /* Adjust color as needed */
  resize: none;
  box-sizing: border-box;
  font-size: 16px;
  /* Adjust styles for the scroll */
  max-height: 7.5em; /* Height for 5 rows assuming 1.5em line-height */
  overflow-y: auto;
}

.input-clip-container {
  position: relative;
  flex-grow: 1;
  margin-right: 10px; /* Spacing between input and send button */
}
.clip-button {

  position: relative;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;

}
.add-doc-button {
  position: absolute;
  right: 10px; /* adjust as needed */
  top: 50%;
  transform: translateY(-50%);
}
.chat-send-icon {
  width: 30px; /* smaller send icon */
}

.chat-textarea:focus {
  border-color:var(--purple);
  outline: none;
}
.clear-text-button {
  position: absolute;
  top: 20px; /* adjust as needed */
  right: 5.3rem ; /* adjust as needed */
  background-color: transparent;
  border: none;
  font-size: 12px; /* adjust as needed */
  cursor: pointer;
  color:  var(--grey);
}