/* .action-modal{
   background-color: #f8f9fa;
   border-right: 1px solid #dee2e6;
   width: 8.9rem;
   position: absolute;
   top: 8.7rem;
   right: 2.8rem;
   z-index: 200;
   transform: translateX(-100%);
   opacity: 0;
   transition: transform 1s ease-in-out, opacity 1s ease-in-out;
   display: flex;
   flex-direction: column;
   align-items: center;
} */
.action-modal {
   background-color:var(--gb-white-50);
   border: 1px solid var(--gb-dark-gray);
   border-radius: 5px;
   width: 10rem; 
   max-width: 300px; 
   min-height: 10rem;
   position: absolute; 
   top: 15vh; 
   right: 11.5vw; 
   z-index: 200;
   transform: translateY(-40%);
   opacity: 0;
   transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
   display: flex;
   flex-direction: column;
   align-items: center;
   pointer-events: none;
 }
.action-modal.open {
   transform: translateY(0);
   opacity: 1;
   visibility: visible;
  pointer-events: auto;
   }
   .action-modal-container .row img{
      width: 1.5rem;
      height: 1.5rem;
   
   }
.action-modal-container .row{
display: flex;
justify-content: flex-start;
height: 1.5;
/* border:1px solid green; */
margin-top: 1rem;
align-items: center;

}


.action-modal-container .row:last-child{
   margin-bottom: 1rem;

}
.action-modal-container .row div{
   /* border:1px solid purple; */
   margin-left: 0.5rem;
}
.row.disabled {
   opacity: 0.5;
   pointer-events: none; /* Prevents clicking */
 }

   .confirmation-modal {
      /* Style your confirmation modal */
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 300; /* Higher than action-modal */
    }
    