.header {
  height: 5rem;
   padding: 0.5rem; 
   border-bottom: 2px solid var(--gb-light-gray);
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
 }
 
 ul.menu {
   list-style: none;
   display: flex;
   align-items: center;
   margin: 0;
   padding: 0;

 }
.menu li {
   display: flex;
   align-items: center;
 } 
 li.logo{
   flex-grow: 6;
 }
 li.icon-bar{
   flex-grow: 1;
   justify-content:start;
 }
 li.icon-search{
   justify-content: flex-end;
   flex-grow: 1;
 }
 li.icon-bell{
   justify-content: flex-end;
   flex-grow: 1;
 }
.icon-bar {

 }
.fa-icon-bar,.fa-icon-search{
   font-size: 1.5rem;
}
.fa-icon-bar{
   transform: scale(1.5,1);
}
 .logo {
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .logo-text {
   margin-right: 0.2rem; 
   font-size:1.5rem ;
 }
 

 .logo-img img{
   width: 1.5rem; 
   height:2.5rem; 
 }
.icon-bell img {
   width: 1.5rem; 
   height:1.5rem; 
 }
 
 /* RTL support */
 [dir="rtl"] .menu {
   flex-direction: row-reverse;
 }
 
 [dir="rtl"] .logo-text {
   margin-right: 0;
   margin-left: 0.2rem;
 }