.footer-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-left, .footer-right {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  width: 30px;
  height: auto;
}

.footer-main {
  width: 10%;
  height: 2rem;
  border-radius: 10px;
  background: rgb(242, 44, 242);
}

.footer-icon {
  width: 18px;
  border-radius: 50%;
  margin-left: 3px;
}

.footer-left {
  display: flex;
  justify-content: left;
}

.footer-left .used {
  opacity: 0.4;
}
.no-post{
  color:var(--white);
}