.button1{
   border: 1px solid var(--gb-primary-black);
   height: 2rem;
   border-radius: 6.25rem;
   font-size: 0.9rem;
   font-weight: 600;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background: var(--gb-white);
}
.button1.disabled {
   border: 1px solid var(--gb-light-gray);
}
.button1-text{
   margin: 0.5rem;
}