.button1{
   border: 1px solid var(--gb-primary-black);
   height: 2rem;
   border-radius: 6.25rem;
   font-size: 0.9rem;
   font-weight: 600;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background: var(--gb-white);
}
.button1.disabled {
   border: 1px solid var(--gb-light-gray);
}
.button1-text{
   margin: 0.5rem;
   font-size: 0.65rem;
}
.button1.topic{
   border: 1px solid var(--gb-dark-gray);
   font-weight: 300;
   margin-top: .5rem;
   margin-right: 0.5rem;
}
.button1.topic .button1-icon{
font-weight: 200;
}