



.postdata-main{
   display: flex;
   flex-direction: column;
   height: 100vh; 
}
.postdata-content{
   flex-grow: 1; 
   overflow-y: auto; 

   display: flex;
   flex-direction: column;
   width: 100%;

}

.postdata-footer{
   position: sticky;
   bottom: 0;
   height: 5rem;
   display: flex;
}
.footer-postdata-main{
   width: 100%;
}