.buttonFilter{
   border: 1px solid var(--gb-dark-gray);
   height: 2rem;
   border-radius: 6.25rem;
   font-size: 0.9rem;
   font-weight: 600;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 7rem;
   margin-top: 1rem;
   /* justify-content: space-around;
   align-items: center; */
   background: var(--gb-light-gray);
}
.buttonFilter.selected{
   background: var(--gb-orange);
   border: 1px solid var(--gb-dark-blue);
}
.buttonFilter:last-child{
   margin-bottom: 1rem;
}
.buttonFilter.disabled {
   border: 1px solid var(--gb-light-gray);
}
.buttonFilter-text{

   margin: 0.5rem;
}
.buttonFilter-icon{
   background: var(--gb-white);
   /* background: red; */
   border-radius: 50%;
   width: 1.1rem;
   height: 1.1rem;

}
.buttonFilter.topic{
   border: 1px solid var(--gb-dark-gray);
   font-weight: 300;
   margin-top: .5rem;
   margin-right: 0.5rem;
}
.buttonFilter.topic .buttonFilter-icon{
font-weight: 200;
}