.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background-color: #6072f5;
  color: #fff;
  z-index: 999;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
  opacity: 1;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #555;
}

.sidebar-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.sidebar-close {
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebar-close:hover {
  color: #8B008B;
}

.sidebar-content {
  padding: 2px;
  height: 100%;
  background: aqua;
  flex-direction: column;
}

.sidebar-section {
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sidebar-section-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 10px;
}

.sidebar-menu a {
  color: #fff;
  text-decoration: none;
}

.sidebar-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}

.sidebar-toggle:hover {
  color: #8B008B;
}
.avatar-container img{
  border-radius: 50%;
}
.avatar-modal{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.select_avatar{
  border-radius: 50%;
  width: 30px;
}