.claimpost-container{
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
   /* border:solid 1px red; */

}
.claimpost-content{
   flex-grow: 1; 
   overflow-y: auto; 
   /* padding: 1rem;  */
   display: flex;
   flex-direction: column;
   width: 100%;
   /* border:solid 1px rgb(0, 145, 255); */
}