.container-genie {
   display: flex;
   flex-direction: column;
   height: 99.5vh; 
 }
 
 .header-genie {
   position: sticky;
   top: 0;
   z-index: 100; 
 background-color: var(--gb-white);
 }
 
 .main-genie {
   flex-grow: 1; 
   overflow-y: auto; 
   /* padding: 1rem;  */
   display: flex;
   flex-direction: column;
   width: 100%;
 }
 
 .footer-genie {
   position: sticky;
   bottom: 0;
   height: 5rem;
   /* border:solid 1px red; */
   display: flex;
   border-top : 2px solid var(--gb-light-gray);

 }

 
 .main-genie-posts{
    display: flex;
    flex-direction: column;
   width:100%;
    height: 100%;
    overflow-y: auto;
 }
 .main-genie-upper{
    height: 4.3rem;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .main-genie-upper div{
      font-size: 1.3rem;
      font-weight: 650;
    }
    .main-genie-upper img{
       height: 1.5rem;
       width: 1.5rem;
       line-height: 100%;
    }

    .claim-post-overlay{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 5rem;
      /* background-color: rgba(0, 0, 0, 0.2);  */
      z-index: 10; /* Ensure it's above other content */
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    
    .claim-post-animate {
      animation: fadeInUp 0.5s ease forwards;
    }
    