html,
body,
#root {
	padding: 0;
	margin: 0;
	/* direction: rtl; */
	width: 100%;
   /* max-width: 400px; */
   height: 100%;
}
ul {
   padding-inline-start: 0;
   margin-block-start: 0;
   margin-block-end: 0;
 }
 
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Rubik', 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
}
* {
	box-sizing: border-box;
}

:root {

   --gb-white: #fff;
   --gb-primary-black: black;
   --gb-dark-gray: darkGray;
   --gb-middle-gray: #F1F1F1;
   --gb-dark-blue: #0277BD;
   --gb-light-gray: #F3F3F3;

   --gb-purple: #8297ffbe;
   --gb-dark-green: #00AB94;
   --gb-light-green75: #00ab94c7;
   --gb-circle-green: #27CA75;

   --gb-danger:red;



   --white: #fff;
   /* var(--white); */
   --text-color: #000;
   /* --primary-color:var(--green); */
   --main-blue: rgba(12, 12, 243, 0.787);
      /* var(--main-blue) ;*/
   --background-blue:007bff;
   /* var(--background-blue); */
   --grey: #c2c2c2;
     /* var(--grey); */
   --form-error: #f24848;
   --red:red;
   --purple:purple;
    /* var(--purple); */
    --lightgray: #lightgray;
    /* var(--lightgray); */
    --black: #black;
    /*var(--black);*/
    --dark-green: #003f39;
    /*var(--dark-green);*/
    --green: #075E54;
    /*var(--green);*/
    --lightpurple: #d8acf6;
      /*var(--lightpurple);*/

   /* background-color: var(--background-color-9); */

}

.dark-mode {
   --dark-green: #003f39;
   --bg-main: #121212;
   --chat-bg: #191919;
   --scroll-thumb: rgba(255, 255, 255, 0.2);
   --scroll-track: rgba(0, 0, 0, 0.08);
   --side-panel: #222222;
   --text-color: var(--white);
   --secondary-text-color: #ffffff70;
   --secondary-panel: #262626;
   --main-blue: rgba(12, 12, 243, 0.5);
}